#[models]
#[ollama]
OLLAMA_BASE_URL=http://127.0.0.1:11434/v1
OLLAMA_MODEL_DS=deepseek-r1:7b
OLLAMA_MODEL_QWEN=qwen3:8b

#[deepseek]
DEEPSEEK_API_KEY=
DEEPSEEK_MODEL_NAME=

#[qwen]
QWEN_BASE_URL=
QWEN_API_KEY=
QWEN_MODEL_NAME=

#[mcps]
#[test]
MCP_SERVER_URL=
MCP_CONFIG_PATH=./mcp.json
SKILLS_DIR=.agents/skills

#[plan mode]
USE_PLANNING_MODE=true
PLANNING_MAX_ITERATIONS=3

#[mysql mcp]
MYSQL_MCP_COMMAND=mcp-server-mysql

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=
MYSQL_PASS=
MYSQL_DB=
# MYSQL_CONNECTION_STRING=

ALLOW_INSERT_OPERATION=false
ALLOW_UPDATE_OPERATION=false
ALLOW_DELETE_OPERATION=false
